body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F0F3FF;
  }
.mein_navbar{
  width: 100%;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navul{
  width: 600px;
  display: flex;
  justify-content: space-around;
 
}
a{
      display: block;
      color: white;
      text-decoration: none;
        
}
#searchnav{
  width:300px;

}

.searchinput{
  width: 140px;
  height: 30px;
  border-radius: 8px;
  
}
.searchbt{
  width: 70px;
  height:30px;
  border-radius: 8px;
  border: 3px solid green;
}
.searchbt:hover{
  background-color: #298e46;
}
  

  /*--------------------- slider style */

  .slider-container { 
    max-width: 900px;  /*პროპორციულად უნდა შეაცმირო ისე არიევა, 700 ზეც მუშობს */
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #097965;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
   

  }

  .slider {
    width: 800px;  /*პროპორციულად უნდა შეაცმირო ისე არიევა, 500 ზეც მუშობს */
    height: 500px;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .box {

    width: 800px; /*პროპორციულად უნდა შეაცმირო ისე არიევა, 500 ზეც მუშობს */
    height: 500px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0;
   
    
  }
  .boximg{
    width: 100%;
    height: 500px;
    object-fit: cover; 
  }
 /* თუ რამოდნიმე 3,5 იტემის გამოცენა და ტრილი გინდა ეს წაუშლე  box1 მთლიანდ */
  .box1{
    opacity: 0.8;
}






/* CSS */
.button-3 {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  border-radius: 12px;
  color: #fefefe;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100px;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 14px;
 
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}




.button-32 {
  background-color: #ff3c00;
  border-radius: 12px;
  color: #fefefe;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 80px;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 14px;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f40303;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

/* -------------------dialog stile------------------- */

.opendialogdiv{
  width: 100%;
  display: flex;
  justify-content: center;
 
}
#opendialogbt{
  margin-top: 10px;
  opacity: 0.7;
}
#opendialogbt:hover{
  opacity: 1.2;
}


#dialog {
    
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #F0F3FF;
  padding: 20px;
  border: 1px solid #ccc;
  width: 650px;
  border-radius: 22px;
  transform: translate(-50%, -50%);
  
}

.dialogheader{

width: 100%;
height: 58px;
display: flex;
justify-content: end;
align-items: center;
border-radius: 20px 20px 0px 0px ;
position: absolute;
margin-top: -20px;
margin-left: -20px;
background: #07A4C5;
}
.dialogbt{
  margin-right: 30px;
  border-radius:2px;
  border: none;
 cursor: pointer;
}
.dialogbt:hover{
  background: #c51d07;
}

.dialogbody{
  margin-top: 100px;
}
#imageForm{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_foto{
  margin-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#deleteForm{
margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#deleteIndex{
  height: 20px;
  margin-left: 10px;
  
}
input[type=number]:focus {
  background-color: lightblue;
}


/*--------------- footer */


/* footer  */


.fboxwraper{
    
  width: 100%;
  height: 350px;
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  margin-top: 60px;
  
}
.fconteiner{
  max-width: 1200px;
  width: 90%;
  height: auto;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
  
  
  
}

.footerbox1 , .footerbox2 ,  .footerbox3{
  color: white;
  width: 220px;
  list-style: none;
  height: auto;
  

}
.footerbox2 ,  .footerbox3, .footerbox4{
  padding-left: 30px;

}

.footerbox1 h3 , .footerbox2 h3 , .footerbox4 h3 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.footerbox1 li , .footerbox2 li{
  padding-top: 15px;
  
}
.footerbox2 li a{
  color: #ffffff;
}
.footerbox3{
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ficon{
  margin-top: 30px;
  color: #ffffff;
}
.ficon a{
  
  color: #ffffff;
}
#icon2{
  padding-left: 10px;
  
}
.ficon i{
  font-size: 18px;
  
}
.footerbox4{
  color: #ffffff;
  max-width: 300px;
  flex-direction: column;
 
 
  
}

.footerbox4 input{
  flex-direction: column;
  margin-top: 30px;
  height: 30px;
  outline: none;
  width: 90%;
}
.footerbox4 button{
  background-color: #000000;
  color: #ffffff;
  border: 1px solid silver;
 max-width: 80px;
  height: 35px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
}

.footerbox4 button a{
  text-decoration: none;
  color: #ffffff;
  
}

/** section 6 */

.footerend{
  width: 100%;
  height: 100px;
  background-color: #000000;
  position: relative;
  
  

  
}

.footerend::before{
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: rgba(25, 32, 32, 0.753);
  display: inline-block;
}
.footerend i, .footerend p{
  color: #ffffff;
  margin-left: 10px;
  
 
  
}

.copyright{
  display: flex;
  position: absolute;
  top: 50%;
  margin-left: 42%;
  box-sizing: border-box;

}


/* cntact page -------------------------------------------------- */

footer {
  background-color: #0e0d0d;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
  color: white
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
}

.contact-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-info p {
  margin-bottom: 5px;
  font-size: 16px;
  margin-top: 15px;
}

.contact-info strong {
  font-weight: bold;
  
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
  margin-top: 20px;
}
